{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p style="text-align: center; color: #017AFF">The company name game</p>
{% endblock %}

{% block content %}

    <p style="text-align: center"><i><b>Understanding of the game</b></i></p>

        <p style="text-align: center">Your answer is {% if player.cund1 %}<span style="color: limegreen">correct</span>{% else %}<span style="color: red">wrong</span>{% endif %}.
            Your task in this part of the study will be to act as an external observer and in each round endorse one of the New Products.</p>

    <div style="text-align: center">{% next_button %}</div>
{% endblock %}
