{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p style="text-align: center; color: #017AFF">Product launch task</p>
{% endblock %}

{% block content %}

    <p style="text-align: center"><i><b>Instructions 3/3: Understanding of the task</b></i></p><br>
    <p style="text-align: center">
        On this and the following pages, you will find 5 questions testing your understanding of the task. Please fill
        them out to the best of your ability!
    </p>

     <p style="text-align: center"><br><i>Your task in this part of the study will be to chat with other participants.</i></p><br>

    <div style="text-align: center">
        <button name="und1" value="False" class="btn btn-primary btn-large">True</button>
        &nbsp;
        &nbsp;
        &nbsp;
        <button name="und1" value="True" class="btn btn-primary btn-large">False</button>
    </div>

{% endblock %}
