{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p style="text-align: center; color: #017AFF">The company name game</p>
{% endblock %}

{% block content %}

    <p style="text-align: center"><i><b>Understanding of the game</b></i></p>

        <p style="text-align: center">Your answer is {% if player.cund2 %}<span style="color: limegreen">correct</span>{% else %}<span style="color: red">wrong</span>{% endif %}.
            In all rounds except the first, your endorsement should mirror one of a participant that wants to earn as much money as possible.</p>

    <div style="text-align: center">{% next_button %}</div>
{% endblock %}
