{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p style="text-align: center; color: #017AFF">Product launch task</p>
{% endblock %}

{% block content %}

    <p style="text-align: center"><i><b>Understanding of the task</b></i></p>

        <p style="text-align: center">Your answer is {% if player.und4 %}<span style="color: limegreen">correct</span>{% else %}<span style="color: red">wrong</span>{% endif %}.
            If Jan endorsed Tao 5 times and Hans endorsed Tao 7 times, Hans has more shares of Tao and earns more GC.</p>

    <div style="text-align: center">{% next_button %}</div>
{% endblock %}
