{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p style="text-align: center; color: #017AFF">Product launch task</p>
{% endblock %}

{% block content %}

    <p style="text-align: center"><i><b>Instructions 3/3: Understanding of the task</b></i></p>

     <p style="text-align: center"><br><i>After answering these 5 questions, do you feel like you understand the task well enough and
         are ready to start playing it or would you like to re-read the instructions one more time?</i></p><br>

    <div style="text-align: center">
        <button name="under" value="False" class="btn btn-primary btn-large">I am ready to start the game</button>
        &nbsp;
        &nbsp;
        &nbsp;
        <button name="under" value="True" class="btn btn-primary btn-large">I want to read the instructions again</button>
    </div>

{% endblock %}
