{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p style="text-align: center; color: #017AFF">Questionnaire 4: Impulsiveness</p>
{% endblock %}

{% block content %}

    <p>
        People differ in the ways they act and think in different situations. This fourth questionnaire is a test to
        measure some of the ways in which you act and think. Read each statement and put an X on the appropriate
        circle on the right side of this page. Do not spend too much time on any statement. Answer quickly and
        honestly.
    </p>

    <br>

<table class="table">
    {% for field in form %}
        <tr>
            <td style="text-align: center">{{ field.label }}</td>
            {% for choice in field %}
                <td>{{ choice }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

    <br>

    <div style="text-align: center">{% next_button %}</div>

{% endblock %}
