{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p style="text-align: center; color: #017AFF">Questionnaire 5: Self-concept clarity</p>
{% endblock %}

{% block content %}

    <p>
        In this fifth questionnaire, you can find some statements inquiring about how clearly you view yourself. For
        each item, indicate how much you agree or disagree with what the item says. You are asked to rate the
        statements on a 5-point scale, ranging from strongly disagreeing to strongly agreeing with the statement.
    </p>

    <br>

<table class="table">
    {% for field in form %}
        <tr>
            <td style="text-align: center">{{ field.label }}</td>
            {% for choice in field %}
                <td>{{ choice }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

    <br>

    <div style="text-align: center">{% next_button %}</div>

{% endblock %}
