{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p style="text-align: center; color: #017AFF">Questionnaire 6: Social scale</p>
{% endblock %}

{% block content %}

    <p>
        In this last questionnaire, you can find some statements inquiring about how you behave in social
        situations. For each item, indicate whether it holds for you (True/False).
    </p>

    <br>

<table class="table">
    {% for field in form %}
        <tr>
            <td style="text-align: center">{{ field.label }}</td>
            {% for choice in field %}
                <td>{{ choice }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

    <br>

    <div style="text-align: center">{% next_button %}</div>

{% endblock %}
