{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p style="text-align: center; color: #017AFF">Part 2: Questionnaires</p>
{% endblock %}

{% block content %}

    <p>
        By reaching this page, it means that the employees reached a consensus (or failed to do so in the allocated
        amount of rounds) and your role of an external observer is finished. Now, your task is to fill out the second
        (and final) part of the present study. This part consists of a few short questionnaires inquiring about how you
        experienced the game, about your personality, and about your demographic characteristics.
    </p>
    <p>
        <i>Please click on the 'Next' button below to begin filling out the questionnaires.</i>
    </p>

    <br>

    <div style="text-align: center">{% next_button %}</div>

{% endblock %}
