{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p style="text-align: center; color: #017AFF">The Product Launch Task</p>
{% endblock %}

{% block content %}

    <p style="text-align: center"><i><b>The game will begin any second now ...</b></i></p>
    <p>
        When the timer above expires, the game will begin. Please stay on this page, so you do not miss the beginning
        of the game!
    </p><br>

    <p>
    <b>Short instructions recap</b><br>
        <i>Your task</i> is to, in each round of the game, privately endorse one of the two New Products and observe
        how many individuals in your group endorsed each of the two New Products.<br><br>
    <i>Goal of the game:</i> As a group, release one of the two New Products by unanimously endorsing it with everyone
        in your group in a specific round.<br><br>
    <i>Task rewards:</i> You receive more bonus if <br> 1) The New Product is released in earlier rounds of the game (if
        it does not get released at all, everyone in the group receives 0 bonus!), <br> 2) You endorsed the released New
        Product relatively more often than others in your group.
    </p>


{% endblock %}
