{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p style="text-align: center; color: #017AFF">The Product Launch Task</p>
{% endblock %}

{% block content %}

    <p style="text-align: center; background-color: #AAD3F5; font-size: 24px"><br><b>Get ready! The game will begin in <span id="time-left"></span> seconds ...</b><br><br></p>

    <p>
    <b>Short instructions recap</b><br>
        <i>Your task</i> is to, in each round of the game, privately endorse one of the two New Products and observe
        how many and which individuals in your group endorsed each of the two New Products.<br><br>
    <i>Goal of the game:</i> As a group, release one of the two New Products by unanimously endorsing it with everyone
        in your group in a specific round.<br><br>
    <i>Task rewards:</i> You receive more bonus if <br> 1) The New Product is released in earlier rounds of the game (if
        it does not get released at all, everyone in the group receives 0 bonus!), <br> 2) You endorsed the released New
        Product relatively more often than others in your group.
    </p>

    <script>
        let customTimerEle = document.getElementById('time-left');

        document.addEventListener("DOMContentLoaded", function (event) {
            $('.otree-timer__time-left').on('update.countdown', function (event) {
                customTimerEle.innerText = event.offset.totalSeconds;
            });
        });

    </script>

    <style>
    .otree-timer {
        display: none;
    }
    </style>


{% endblock %}
