{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p style="text-align: center; color: #017AFF">The Product Launch Task</p>
{% endblock %}

{% block content %}

    <p style="text-align: center"><i><b>Understanding of the task</b></i></p>

        <p style="text-align: center">Your answer is {% if player.und4 %}<span style="color: limegreen">correct</span>{% else %}<span style="color: red">wrong</span>{% endif %}.
            If Player 8 endorsed Tao 5 times and Player 2 endorsed Tao 7 times, Player 2 has more shares of Tao and earns more GC.</p>

    <div style="text-align: center">{% next_button %}</div>

    <style>
    .otree-timer {
        display: none;
    }
    </style>

{% endblock %}
