{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p style="text-align: center; color: #017AFF">Final page</p>
{% endblock %}

{% block content %}

    <p>
        You have arrived at the end of the study. We want to kindly thank you for your participation. Your fixed payoff
        will be confirmed and paid out to you as soon as possible. However, your performance bonus will be calculated
        and confirmed a bit later, but still by the end of the current week at latest. Before finishing the study,
        please read the debriefing below.
    </p><br>

    <p><b>DEBRIEFING</b></p>

    <p>
    Thank you again for participating in our study: empirical research would not be possible without the help of
        participants such as yourself. We hereby would like to disclose the goal of the study and details related
        to its execution. You played a group game with other participants, in which you were asked to reach a consensus
        on which new product to launch (Tao or Eta). The goal of our study is to see the impact a minority of
        confederates contradicting the majority has on the speed with which the group reaches a consensus, depending
        on the ratio of confederates present in the group. There were three confederate ratios varied between different
        groups, namely 17.6%, 25%, and 33.3%. The choices of the minority confederates were provided by a
        pre-programmed algorithm. We needed to resort to using confederates for the minority in order to make sure that
        clear minority-majority dynamic emerges. Creating this dynamic allowed us to measure the difference in the pace
        of group consensus-reaching between different conditions. The bonus payoff you will receive will be based on the
        choices you and other participants made in the game, in the same way as described in the instructions at the
        beginning of the game. The data gathered in this study will be used to compute parameters for an agent-based
        model, which we will use to try to predict social change outcomes under different conditions. This concludes the
        debriefing. In case you have any additional questions or complaints about the study, you may contact the
        researchers at <i>z.mlakar@rug.nl</i>. Thanks again for your efforts! You may now click on the link below to be
        redirected back to the Prolific website.
    </p>

    <a href="https://app.prolific.co/submissions/complete?cc=70230A10">Click here when you are done with the study!</a>

{% endblock %}
