{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p style="text-align: center; color: #017AFF">Questions & Demographics</p>
{% endblock %}

{% block content %}

    <p>
     Congratulations, you have successfully finished the central task by reaching a consensus or playing out the
        maximum 24 rounds of the game and arrived in the last part of the study. Before you are done with the study,
        we kindly ask you to answer some questions about the game and your demographics on the next page.
    </p>

    <div style="text-align: center">{% next_button %}</div>

{% endblock %}


